h2 {
  border-bottom: 1px solid;
  padding-bottom: 7px;
}
.btn-ver {
  background-color: #456393;
  color: white;
}
.btn-act {
  background-color: #605cca;
  color: white;
}
.btn-dell {
  background-color: #2c2f3e;
  color: white;
}
.btn-ver:hover {
  background-color: #132747;
  color: white;
}
.btn-act:hover {
  background-color: #302e7a;
  color: white;
}
.btn-dell:hover {
  background-color: #000000;
  color: white;
}
.alerta {
  color: #ff5a5a;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: smaller;
}
