<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container nav-wrapper">
    <div class="logo">
      <img
        class="img-responsive"
        src="../../../../assets/images/user(1).png"
        alt=""
      />
    </div>
    <ul class="navbar-nav gap-2">
      <li class="nav-item nav">
        <a class="nav-link btn" [routerLink]="['/home']">Home</a>
      </li>
      <li class="nav-item nav">
        <a type="button" class="btn nuevo" [routerLink]="['/nuevoUsuario']"
          >Nuevo Usuario</a
        >
      </li>
    </ul>
  </div>
</nav>
